.uА1{left: 25.95%; top: 44%}
.uА2{left: 27.35%; top: 43.58%}
.uА3{left: 28.85%; top: 44.08%}
.uА4{left: 29.95%; top: 44.66%}
.uА5{left: 31%; top: 44.66%}
.uА6{left: 32%; top: 44.66%}
.uА7{left: 33%; top: 44.25%}
.uА8{left: 34%; top: 43.66%}
.uА9{left: 35.35%; top: 43.08%}
.uА10{left: 36.6%; top: 44.75%}
.uА11{left: 36.8%; top: 42.25%}
.uА12{left: 38.6%; top: 41.66%}
.uА14{left: 38.52%; top: 45%}
.uА15{left: 39.72%; top: 45%}
.uА16{left: 39.82%; top: 41.41%}
.uА17{left: 41.2%; top: 41.29%}
.uА18{left: 41.05%; top: 45.25%}
.uА19{left: 42.22%; top: 45.37%}
.uА20{left: 42.42%; top: 41.54%}
.uА21{left: 43.62%; top: 41.37%}
.uА22{left: 43.62%; top: 45.62%}
.uА23{left: 44.67%; top: 45.58%}
.uА24{left: 44.9%; top: 41.62%}
.uА25{left: 46.22%; top: 41.5%}
.uА26{left: 46.15%; top: 45.58%}
.uА27{left: 47.2%; top: 45.66%}
.uА28{left: 47.32%; top: 41.75%}
.uА29{left: 48.55%; top: 41.75%}
.uА30{left: 48.6%; top: 45.95%}
.uА31{left: 49.65%; top: 45.62%}
.uА32{left: 49.82%; top: 42%}
.uА33{left: 51%; top: 41.87%}
.uА34{left: 51.15%; top: 45.45%}
.uА35{left: 52.2%; top: 45.16%}
.uА36{left: 52.32%; top: 41.87%}
.uА37{left: 53.75%; top: 41.66%}
.uА38{left: 53.87%; top: 44.87%}
.uА39{left: 55.07%; top: 43.08%}
.uА40{left: 56.1%; top: 43.16%}
.uА41{left: 57.12%; top: 43.08%}
.uА42{left: 58.27%; top: 43.12%}
.uB1{left: 34.6%; top: 47.95%}
.uB2{left: 36.02%; top: 47.87%}
.uB3{left: 37.27%; top: 48.16%}
.uB4{left: 38.45%; top: 48.33%}
.uB5{left: 39.65%; top: 48.45%}
.uB6{left: 40.8%; top: 48.7%}
.uB7{left: 42%; top: 48.91%}
.uB8{left: 43.1%; top: 49.25%}
.uB9{left: 44.1%; top: 49.12%}
.uB10{left: 45.17%; top: 49.41%}
.uB11{left: 46.22%; top: 49.66%}
.uB12{left: 43.55%; top: 57.37%}
.uB14{left: 43.8%; top: 54.79%}
.uB15{left: 42.47%; top: 54.16%}
.uB16{left: 42.07%; top: 56.95%}
.uB17{left: 41.15%; top: 56.7%}
.uB18{left: 41.27%; top: 53.62%}
.uB19{left: 40%; top: 53.41%}
.uB20{left: 39.6%; top: 56.25%}
.uB21{left: 38.62%; top: 56.12%}
.uB22{left: 38.85%; top: 53.37%}
.uB23{left: 37.47%; top: 52.95%}
.uB24{left: 37.15%; top: 55.5%}
.uB25{left: 36.05%; top: 55.25%}
.uB26{left: 36.17%; top: 52.7%}
.uB27{left: 34.8%; top: 52.25%}
.uB28{left: 34.45%; top: 54.5%}
.uB29{left: 33.12%; top: 53.79%}
.uB30{left: 33.32%; top: 51.87%}
.uB31{left: 31.82%; top: 52.12%}
.uB32{left: 30.62%; top: 51.7%}
.uB33{left: 29.15%; top: 51.29%}
.uB34{left: 28.02%; top: 52.45%}
.uB35{left: 27.4%; top: 50.91%}
.uB36{left: 26.02%; top: 51.95%}
.uB37{left: 26.42%; top: 54.29%}
.uB38{left: 28.55%; top: 55.37%}
.uB39{left: 29.62%; top: 54.5%}
.uB40{left: 30.7%; top: 55.5%}
.uB41{left: 31.67%; top: 56%}
.uB42{left: 32.75%; top: 56.7%}
.uB43{left: 33.62%; top: 57.45%}
.uB44{left: 34.67%; top: 58.2%}
.uB45{left: 35.6%; top: 58.75%}
.uB46{left: 36.75%; top: 59.25%}
.uB47{left: 37.7%; top: 59.58%}
.uB48{left: 38.8%; top: 59.83%}
.uB49{left: 39.85%; top: 60.16%}
.uB50{left: 40.9%; top: 60.41%}
.uB51{left: 42.1%; top: 60.58%}
.uB52{left: 43.22%; top: 60.66%}
.uB53{left: 44.27%; top: 61.04%}
.uC1{left: 45.25%; top: 61.25%}
.uC2{left: 46.27%; top: 61.75%}
.uC3{left: 47.27%; top: 62.2%}
.uC4{left: 48.35%; top: 62.58%}
.uC5{left: 49.42%; top: 62.87%}
.uC6{left: 50.5%; top: 63.12%}
.uC7{left: 51.65%; top: 63.04%}
.uC8{left: 52.25%; top: 60.95%}
.uC9{left: 50.77%; top: 60.16%}
.uC10{left: 51.02%; top: 58.37%}
.uC11{left: 52.57%; top: 59.04%}
.uC12{left: 53.22%; top: 57.29%}
.uC14{left: 51.65%; top: 55.95%}
.uC15{left: 51.97%; top: 53.95%}
.uC16{left: 53.02%; top: 54.75%}
.uC17{left: 54.15%; top: 55.29%}
.uC18{left: 54.95%; top: 52.62%}
.uC19{left: 56.37%; top: 52.83%}
.uC20{left: 56.7%; top: 50.91%}
.uC21{left: 57.07%; top: 49.2%}
.uC22{left: 57.42%; top: 47.5%}
.uC23{left: 55.35%; top: 47.5%}
.uC24{left: 55.05%; top: 49.75%}
.uC25{left: 53.87%; top: 51.79%}
.uC26{left: 53%; top: 51.16%}
.uC27{left: 53.52%; top: 49%}
.uC28{left: 53.92%; top: 47.29%}
.uC29{left: 52.2%; top: 48.08%}
.uC30{left: 52%; top: 50.62%}
.uC31{left: 47.47%; top: 49.16%}
.uC32{left: 47.37%; top: 51.45%}
.uC33{left: 49.07%; top: 51.58%}
.uC34{left: 49.27%; top: 49.04%}
.uC35{left: 50.45%; top: 48.95%}
.uC36{left: 50.35%; top: 51.7%}
.uC37{left: 50.25%; top: 53.87%}
.uC38{left: 49%; top: 53.75%}
.uC39{left: 47.47%; top: 53.7%}
.uC40{left: 47.12%; top: 55.91%}
.uC41{left: 49.12%; top: 56.7%}
.uC42{left: 49.17%; top: 59.08%}
.uC43{left: 48.12%; top: 58.66%}
.uC44{left: 47.15%; top: 58.29%}
.uC45{left: 45.95%; top: 57.91%}
.uF1{left: 60.95%; top: 43.83%}
.uF2{left: 62.07%; top: 43.75%}
.uF3{left: 63.12%; top: 43.87%}
.uF4{left: 64.2%; top: 43.95%}
.uF5{left: 65.25%; top: 43.95%}
.uF6{left: 66.42%; top: 43.95%}
.uF7{left: 67.6%; top: 44.04%}
.uF8{left: 69.17%; top: 44.12%}
.uF9{left: 68.42%; top: 47.2%}
.uF10{left: 68.27%; top: 49.16%}
.uF11{left: 67.45%; top: 50.5%}
.uF12{left: 66.62%; top: 52.08%}
.uF14{left: 65.67%; top: 53.66%}
.uF15{left: 64.42%; top: 53.58%}
.uF16{left: 63.35%; top: 53.33%}
.uF17{left: 64.02%; top: 50.12%}
.uF18{left: 65.47%; top: 49.95%}
.uF19{left: 66.5%; top: 48.08%}
.uF20{left: 65.35%; top: 47.75%}
.uF21{left: 63.92%; top: 48%}
.uF22{left: 62.67%; top: 47.75%}
.uF23{left: 62.47%; top: 50%}
.uF24{left: 62.2%; top: 51.95%}
.uF25{left: 61.72%; top: 53.95%}
.uF26{left: 59.7%; top: 53.37%}
.uF27{left: 60.05%; top: 51.45%}
.uF28{left: 60.42%; top: 49.5%}
.uF29{left: 60.7%; top: 47.66%}

.m1{left: 24.75%; top: 47%}
.m2{left: 23.95%; top: 44.08%}
.m3{left: 27.2%; top: 48.58%}
.m4{left: 39.25%; top: 50.83%}
.m5{left: 73.9%; top: 46.5%}
.m6{left: 67.8%; top: 70.83%}
.m7{left: 82.15%; top: 52.08%}
.m8{left: 28.4%; top: 57.7%}
.m9{left: 31.7%; top: 58.3%}